* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
}

main {
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 40px;
    background: linear-gradient(to bottom, #e7eaee, #ced5dc);
}

section.about {
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
}

.heading {
    margin-bottom: 40px;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        align-items: flex-end;
    }
}

.eyebrow {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "industry", sans-serif;
    font-weight: 800;
}

h1 {
    max-width: 940px;
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: clamp(24px, 3.4vw, 48px);
    line-height: 1.25;

    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}

p {
    margin-top: 0;
}

a.btn {
    flex-shrink: 0;
    display: inline-block;
    padding: 12px 24px 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "industry", sans-serif;
    font-weight: 800;
    color: white;
    background-color: #ff6700;
}

.cards {
    @media (min-width: 768px) {
        display: flex;
        margin: 0 -15px;
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
    padding: 25% 30px 30px 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    overflow: hidden;

    @media (min-width: 768px) {
        width: calc(33.33% - 30px);
        margin: 0 15px;
    }

    .scene {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto !important;
        padding-top: 100%;

        canvas {
            position: absolute;
            left: 0;
            top: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }

    .content {
        position: relative;
    }

    h2 {
        margin-bottom: 10px;
        font-family: "industry", sans-serif;
        font-weight: 900;
        font-size: clamp(18px, 1.7vw, 24px);
        line-height: 1.25;
    }

    p {
        max-width: 280px;
        margin: 0;
        font-size: 18px;
        color: #e7eaee;
    }
}
